requests~=2.25.1
beautifulsoup4~=4.9.3
tqdm
numpy~=1.20.0
pandas~=1.2.2
spacy~=3.0.3
langdetect~=1.0.8
pysbd~=0.3.4
torch
torchtext~=0.8.1
transformers~=4.3.3
datasets~=1.4.1
sacrebleu~=1.5.1
bert_score~=0.3.8
matplotlib~=3.3.4
wikipedia_api
scikit-learn