requests
beautifulsoup4
tqdm
numpy
pandas
spacy
langdetect
pysbd
torch
torchtext
transformers
datasets
sacrebleu
bert_score
matplotlib
wikipedia_api
scikit-learn
scipy
sentence_transformers
seaborn
nltk
filelock
packaging
sentencepiece
Pillow
sacremoses
tokenizers
regex
six
pydantic
attrs
PyYAML
torchvision
setuptools